Header {
  text-align: center;
  font-size: larger;
  color: rebeccapurple;
  background-color: tan;
  margin:  0 100px;
}
Footer {
  text-align: center;
  font-size: larger;
  color: rebeccapurple;
  background-color: tan;
  margin:  0 100px;
}

Main {
  text-align: center;
  font-size: larger;
  color: tomato;
  background-color: thistle;
  margin: 0 100px;
  padding: 100px;
}
Main button{
  background-color: teal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
